body, html
{
	margin:0;
	padding :0;
}

.video_1
{
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

#bg_colour
{
  z-index: -1;
  position: absolute;
  background-color: #1e1e1e;
  height:2000px;
  left: 0;
  top: 0%;
  bottom: 0;
  right:0;
  opacity: 0.65;
}

.top_strip
{
  z-index: 2;
  position: fixed;
  background-color: #1e1e1e;
  height: 70px;
  top:0;
  left:0;
  right:0;
  opacity: 1;
  box-shadow: 00px 5px 10px #171717;
}

.top_strip img
{
	position: fixed;
	top: 10px;
	width: 50px;
	height: 50px;
	right: 10px;
}

.top_strip h
{
	z-index: 3;
    color: #dbdbdb;

    font-size: 30px;
    font-family: 'IM Fell Double Pica', serif;
    position: fixed;
    top:15px;
    left:15px;
}

.top_strip div
{
	font-size: 20px;
    font-family: 'IM Fell Double Pica', serif;
	position: fixed;
	color: #dbdbdb;
	top:25px;
    left:240px;
}

.menu
{
  position: fixed;
  z-index: 1;
  font-size: 15px;
  font-family: cursive;
  top:10px;

}

.foa_container
{
	position: relative;
	top: 90%;
}
.foa_container img
{
	z-index: 1;
	display: block;
	margin:0 auto;
	border:2px solid #dbdbdb;
}
