body, html
{
	margin:0;
	padding :0;
}

.video_1
{
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

#bg_colour
{
  z-index: -1;
  position: absolute;
  background-color: black;
  height:2000px;
  left: 0;
  top: 0%;
  bottom: 0;
  right:0;
  opacity: 1;
}

.top_strip
{
  z-index: 2;
  position: fixed;
  background-color: #1e1e1e;
  height: 70px;
  top:0;
  left:0;
  right:0;
  opacity: 1;
  /*box-shadow: 00px 5px 10px #171717;*/
}

.top_strip img
{
	position: fixed;
	top: 10px;
	width: 50px;
	height: 50px;
	right: 10px;
}

.top_strip h
{
	z-index: 3;
    color: white;

    font-size: 30px;
    font-family: 'IM Fell Double Pica', serif;
    position: fixed;
    top:15px;
    left:15px;
}

.top_strip div
{
	font-size: 20px;
    font-family: 'IM Fell Double Pica', serif;
	position: fixed;
	color: white;
	top:25px;
    left:240px;
}

.menu
{
  position: fixed;
  z-index: 1;
  font-size: 15px;
  font-family: cursive;
  top:10px;

}

.gradient img:first-child
{
	top:80%;
	position: absolute;
}
.gradient img:nth-child(2)
{
	position: absolute;
	top:90%;
	left: 50%;
	transform: translate(-50%);
	max-width: 100px;
	min-width: 100px;
}
.game_container
{
	position: absolute;
	width: 700px;
	height:1500px;
	top:100%;
	left: 50%;
	transform: translate(-50%);
	opacity: 1;
	/*overflow: hidden;*/
}

.foa
{
	z-index: 2;
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	top:20px;
	border: 2px solid white;
	left: 50%;
	transform: translate(-50%);
}

.foa_title
{
	z-index: 2;
	position: absolute;
	padding-top: 200px;
	padding-left: 20px;
	font-size: 50px;
 	font-family: 'IM Fell Double Pica SC', serif;
	color: #dbdbdb;
}
.game_list
{
	width: 702px;
	height: 1200px;
	margin: 0 auto;
	padding-top: 300px;
}

.game_list div
{
	margin: 5px;
	background-color: black;
	display: inline-block;
	width: 216px;
	height: 216px;
	border: 2px solid white;
	overflow: hidden;
}

.game_list video
{
	margin-left: 0;
}

.game_list img:hover
{
	zoom : 1.2;
}
